<div class="header">
  <h1>Here is your classmate:</h1>
</div>
<div>
  <%= @studentid["profile_pic_url"]%>
  </div>
<div>
<a href=""><%= @studentid["first_name"] %> <% @studentid["last_name"] %></a>
</div>
