<h1>Your Selected Car</h1>

<img src="<%= @carid[:source]%>">
<p><%= @carid[:caption] %></p>
<form action="http://localhost:3000/alter/<%= @cardid["id"] %>">
  <input type="submit" value="EDIT">
</form>
<form action="http://localhost:3000/delete/<%= @carid["id"]%>">
  <input type="submit" value="DELETE">
</form>
