<h1>Insurance #<%= @insurance.id %></h1>

<p>
  <b>Name:</b>
  <%= @insurance.name %>
</p>

<p>
  <b>Category:</b>
  <%= @insurance.category %>
</p>

<p>
  <b>Copay:</b>
  <%= @insurance.copay %>
</p>


