<h1>Upload a New Picture</h1>

<form>
  <label for="source">URL:</label>
  <input type="text" id="source" name="source">
  <label for="caption">Caption:</label>
  <input type="text" id="caption" name="caption">
  <input type="submit">
</form>
