/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.contact {
  background-color: #F8F8F8;
  border-color: #000000;
  border-style: solid;
  height: 300px;

}
.contact  h1 {
  text-align: center;
}

.faq {
  background-color: #F8F8F8;
  border-color: #000000;
  border-style: solid;
  padding: 15px;
}
.faq h2 {
  font-size: 18px;
  font-style: bold;
}
.faq p {
  font-size: 14px;
}
.faqbottom {
  font-size: 20px;
  font-style: bold;
  text-align: center;
}
.faqbottomnumber {
  font-size: 24px;
  font-style: bold;
  text-align: center;
}
