<h1>Add A New Picture</h1>

<form action="http://localhost:3000/pictures/create_pic">
  <label for="source">Source</label>
  <input type="text" id="source" name="source">
  <label for="caption">Caption:</label>
  <input type="text" id="caption" name="caption">
  <input type="submit">
</from>
